In [40]:
import random 
import matplotlib.pyplot as plt
import pandas as pd 

#Function which estimates pi's value with Monte Carlo's method.
def estimate_pi(n):

  total_points=0
  points_inside_circle=0
  
  for i in range(n):
    x = random.uniform(0,1)
    y = random.uniform(0,1)
    if (x**2+y**2) < 1:
      points_inside_circle+=1
    total_points+=1

  return 4*points_inside_circle/total_points

list_n = [10,100,1000,10000,100000,1000000,10000000,100000000]
pi_s = []
divs = []

for n in list_n:
  pi_=estimate_pi(n)
  pi_s.append(pi_)
  div = format(abs(3.14159265359-pi_),'.4f')
  divs.append(div)

data = {'n':list_n,'Estimated_pi':pi_s, 'Divergence from original pi':divs}   
df = pd.DataFrame(data)   
display(df)

           n  Estimated_pi Divergence from original pi
0         10      3.200000                      0.0584
1        100      3.080000                      0.0616
2       1000      3.112000                      0.0296
3      10000      3.148400                      0.0068
4     100000      3.144920                      0.0033
5    1000000      3.140944                      0.0006
6   10000000      3.141219                      0.0004
7  100000000      3.141966                      0.0004

#Explanation of Monte Carlo's model

>Circle's quarter has an area of (πr²)/4, but whole square has an area of r².

>The ratio of circle's area to square's area is: 

>$ ratio = \frac{πr²/4}{r²} = \frac{π}{4} $

>$ π = 4*ratio $

So we conclude this: 
π ≈ 4 x (number of points in the circle / total number of points).

![pi.gif]()